# Welcome to Lab Session 2 - Derek Thomas - 30Sep2017

## Define the environment for the Dataframe

In [17]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Import the Dataframe and parse relevant columns

In [18]:
df = pd.read_excel('Information is Beautiful_ Data Breaches (public).xlsx', header=1, sheetname='2017 update',parse_cols=('A,D:G,J'))

In [19]:
df.head(4)

,Entity,YEAR,records lost,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
0,NaN,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",NaN,NaN,1. Just email address/Online information 20 SS...
1,AOL,0,92000000,web,inside job,1
2,Automatic Data Processing,1,125000,financial,poor security,20
3,Ameritrade Inc.,1,200000,financial,lost / stolen device,20

## Modify column names

In [20]:
df.columns=['Entity',\
            'Year',\
            'Records Lost',\
            'Organization',\
            'Method of Leak',\
            'Sensitivity']
df.head(4)

,Entity,Year,Records Lost,Organization,Method of Leak,Sensitivity
0,NaN,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",NaN,NaN,1. Just email address/Online information 20 SS...
1,AOL,0,92000000,web,inside job,1
2,Automatic Data Processing,1,125000,financial,poor security,20
3,Ameritrade Inc.,1,200000,financial,lost / stolen device,20

## Delete irrelevant narrartive row

In [21]:
df = df.drop(df.index[0])
df.head(4)

,Entity,Year,Records Lost,Organization,Method of Leak,Sensitivity
1,AOL,0,92000000,web,inside job,1
2,Automatic Data Processing,1,125000,financial,poor security,20
3,Ameritrade Inc.,1,200000,financial,lost / stolen device,20
4,Citigroup,1,3900000,financial,lost / stolen device,300

## Convert Year index to Calendar Year value

In [22]:
def ConvertYear(x):
    if (x != '14'):
        return str((int(x) + 2004))
    else:
        return ('2017')
df['Year'] = df.Year.apply(ConvertYear)
df.head(4)

,Entity,Year,Records Lost,Organization,Method of Leak,Sensitivity
1,AOL,2004,92000000,web,inside job,1
2,Automatic Data Processing,2005,125000,financial,poor security,20
3,Ameritrade Inc.,2005,200000,financial,lost / stolen device,20
4,Citigroup,2005,3900000,financial,lost / stolen device,300

## Convert all "Organization" descriptions to Captialized case

In [23]:
df['Organization'] = df['Organization'].str.capitalize()
df.head(4)

,Entity,Year,Records Lost,Organization,Method of Leak,Sensitivity
1,AOL,2004,92000000,Web,inside job,1
2,Automatic Data Processing,2005,125000,Financial,poor security,20
3,Ameritrade Inc.,2005,200000,Financial,lost / stolen device,20
4,Citigroup,2005,3900000,Financial,lost / stolen device,300

##  Convert all "Methods of Leak" descriptions to Captialized case

In [24]:
df['Method of Leak'] = df['Method of Leak'].str.capitalize()
df.head(4)

,Entity,Year,Records Lost,Organization,Method of Leak,Sensitivity
1,AOL,2004,92000000,Web,Inside job,1
2,Automatic Data Processing,2005,125000,Financial,Poor security,20
3,Ameritrade Inc.,2005,200000,Financial,Lost / stolen device,20
4,Citigroup,2005,3900000,Financial,Lost / stolen device,300

## Update Records Lost with unknown values to 5m (5 million)

In [26]:
df[df['Records Lost'].isnull()]

      Entity  Year Records Lost Organization Method of Leak Sensitivity
147      OVH  2013          NaN          Web         Hacked          20
163  UbiSoft  2013          NaN       Gaming         Hacked          20

In [27]:
df['Records Lost'][df['Records Lost'].isnull()] = 5000000   # Replace any "null" Records Lost values with 5 million (5000000)
df[df['Records Lost'].isnull()]                             # Verify there are no remaining "null" Records Lost values

Empty DataFrame
Columns: [Entity, Year, Records Lost, Organization, Method of Leak, Sensitivity]
Index: []

## Ensure all Sensitivity Codes are of numeric data type

In [28]:
df['Sensitivity'] = df['Sensitivity'].apply(pd.to_numeric)

## Update invalid/undefined Sensitivity Code records with valid Code of:  1

In [29]:

df.Sensitivity[~df['Sensitivity'].isin([1,20,300,4000,50000])] = 1

## Verify all Sensitivity Codes are now valid

In [30]:
df[~df['Sensitivity'].isin([1,20,300,4000,50000])]

Empty DataFrame
Columns: [Entity, Year, Records Lost, Organization, Method of Leak, Sensitivity]
Index: []

In [31]:
df.iloc[133]

Entity            South Carolina State Dept. of Revenue
Year                                               2012
Records Lost                                    3600000
Organization                                 Government
Method of Leak                                   Hacked
Sensitivity                                           1
Name: 134, dtype: object

## Add new column containing text string corresponding to Sensitivity Code
1. Just email address/Online information 20 SSN/Personal details 300 Credit card information 4000 Email password/Health records 50000 Full bank account details

In [32]:
def getSensitivityText(x):
    if (x == 1):
        return 'Email Address/Online Information'
    elif (x == 20):
        return 'SSN/Personal Details'
    elif (x == 300):
        return 'Credit Card Information'
    elif (x == 4000):
        return 'Email Password/Health Records'
    elif (x == 50000):
        return 'Full Bank Account Details'
    else:
        return 'Other'
df2 = df.copy()
df2['Sensitivity of Information'] = df.Sensitivity.apply(getSensitivityText)
df2.head(4)

,Entity,Year,Records Lost,Organization,Method of Leak,Sensitivity,Sensitivity of Information
1,AOL,2004,92000000,Web,Inside job,1,Email Address/Online Information
2,Automatic Data Processing,2005,125000,Financial,Poor security,20,SSN/Personal Details
3,Ameritrade Inc.,2005,200000,Financial,Lost / stolen device,20,SSN/Personal Details
4,Citigroup,2005,3900000,Financial,Lost / stolen device,300,Credit Card Information

## Write Dataframe to ".csv" file for import into Tableau

In [33]:
df2.to_csv('DataBreachLab2.csv')